Repository jemoe2/my_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: security-scan, fix-toml

security-scan:
  name: Security Scan
  entry: bandit -r . -c pyproject.toml
  language: system
  pass_filenames: false

fix-toml:
  name: Fix TOML
  entry: python fix_toml.py
  language: system

إضافة ملف .gitattributes لتجاهل الملفات الكبيرة
  .gitattributes
Due: none

Add .gitignore and track large file with Git LFS
  .gitattributes
  .gitignore
Due: none

Update: ignore virtual environment folder
  src/__pycache__/__init__.cpython-313.pyc
  src/utils/__pycache__/__init__.cpython-313.pyc
  src/utils/__pycache__/helpers.cpython-313.pyc
  tests/__pycache__/__init__.cpython-313.pyc
  tests/__pycache__/helpers_test.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/helpers_test.cpython-313.pyc
  tests/__pycache__/test_helpers.cpython-313-pytest-8.2.0.pyc
  tests/__pycache__/test_helpers.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/test_main.cpython-313-pytest-8.2.0.pyc
  tests/__pycache__/test_main.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/test_main.cpython-313.pyc
Due: none

Update: ignore __pycache__ directories
  .gitignore
Due: none

Remove tracked __pycache__ directories
  src/__pycache__/__init__.cpython-313.pyc
  tests/__pycache__/__init__.cpython-313.pyc
  tests/__pycache__/helpers_test.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/helpers_test.cpython-313.pyc
  tests/__pycache__/test_helpers.cpython-313-pytest-8.2.0.pyc
  tests/__pycache__/test_helpers.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/test_main.cpython-313-pytest-8.2.0.pyc
  tests/__pycache__/test_main.cpython-313-pytest-8.3.4.pyc
  tests/__pycache__/test_main.cpython-313.pyc
Due: none

Reorganize repository structure: remove nested repository
  .deepsource.toml
Due: fix-toml

Fix deepsource configuration: remove unsupported autofix transformer
  .deepsource.toml
  .github/workflows/deepsource-analysis.yml
  New Text Document.txt
  deepsource.txt
Due: fix-toml

Update flatted.py
  node_modules/flatted/python/flatted.py
Due: security-scan

حفظ التعديلات قبل السحب
  deepsource
Due: none

Path conditions:
  security-scan: any of: \.py$
  fix-toml: any of: \.toml$ and \.toml$
